* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
  }
  
  *::-webkit-scrollbar {
    width: 8px;
    background-color: grey;
  }
  
  a {
    text-decoration: inherit;
    color: inherit;
  }
  
  .App {
    min-height: 98.5vh;
    border: 8px solid #39445a93;
    margin: 5px;
    padding: 5px;
  }
  
  .mainImg {
    padding: 10px 0 5px 0;
  }